Source: ros-lyrical-tf-transformations
Section: misc
Priority: optional
Maintainer: David V. Lu!! <david@metrorobots.com>
Build-Depends: debhelper (>= 9.0.0), python3-numpy, python3-pytest <!nocheck>, python3-transforms3d, ros-lyrical-ament-flake8 <!nocheck>, ros-lyrical-ament-pep257 <!nocheck>, ros-lyrical-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: https://index.ros.org/p/tf_transformations/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-tf-transformations
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-numpy, python3-transforms3d, ros-lyrical-ros-workspace
Description: Reimplementation of the tf/transformations.py library for common Python spatial operations
